__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

.env
.env.*
!.env.example

media/

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

.ipynb_checkpoints/

.coverage
htmlcov/
.pytest_cache/

build/
dist/
*.egg-info/

*.tmp
*.temp
*.swp

data/
mongodb/
mongo-data/