{% extends "base.html" %}

{% block content %}

<h3>Location Page</h3>

<form id="locationForm" method="post">

    {% csrf_token %}
    <input type="text" name="locationName" placeholder="Enter Location Name">
    <br>
    <select name="citySelect" id="citySelect">
        <option value="null">Select</option>
        {% for city in cities %}
            <option value="{{city.id}}">{{city.name}}</option>
        {% endfor %}
    </select><br><Br>
    <input type="submit" name="submit" value="Add Location">

    <br><Br><br><p id="result"></p>


    <script>

        $(document).ready(function(){

            console.log("Location Page")

            $("#locationForm").submit(function(event){

                event.preventDefault()

                $.ajax({
                    url : "",
                    type : "POST",
                    data : $(this).serialize(),
                    success : function(res){

                        if(res.status)
                        {
                            $("#result").html(res.message)   
                        }
                        else
                        {
                            $("#result").html(res.message)   
                        }

                    }
                })

            })

        })

    </script>

</form>

{% endblock %}