{% extends "base.html" %}


{% block content %}
{% load static %}


<style>
    #card img{
        height: auto;
        width: 100%;
    }
</style>


<div class="container border border-dark p-4">

    <div class="col-12 p-4" style="display: flex;justify-content:space-between;align-items: center;">
        {% csrf_token %}
        <label for="citySelect" class="h3 fw-bold">SELECT CITY</label>
        <select name="citySelect" id="citySelect" class="px-4 py-2 border border-dark-500 rounded-lg">
            <option value="null">Select</option>
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
        </select>
        
    </div>
    <hr >
    <div class="col-12 p-4">
        <div class="row" id="allCardsDiv">

            {% for movie in movies %}
                <div class="col-3 col-sm-4 col-6 transition-all duration-300 ease-out hover:scale-95 hover:-translate-y-2 hover:shadow-2xl hover:bg-gray-100 hover:z-10 rounded-lg" id="card">
                    <div id="card_part1">
                        <img src="/media/{{ movie.poster }}" alt="err" >
                    </div>
                    <div id="card_part2">
                        <div id="movie_details">
                            <h4 class="fw-bold h1">{{movie.name}}</h4>
                            <p class="py-2 pb-4">{{movie.description}}</p>
                        </div>
                        <div id="bookBtn">
                            <button class="btn btn-primary px-5" onclick="singleMoviePage(this)" data="{{movie.id}}">Book</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</div>

<script>

    function singleMoviePage(element)
    {

        let link = element.getAttribute("data")
        window.location.href = `/client/movie/${link}/`

    }




    

</script>

<script>

    $(document).ready(function(){

        console.log("Home Page Client")

        $("#citySelect").change(function(event){

            event.preventDefault()
            $.ajax({
                url : "/client/send-movies/",
                type : "POST",
                data : {
                    cityId : $("#citySelect").val(),
                    csrfmiddlewaretoken:$("input[name='csrfmiddlewaretoken']").val()
                },
                success : function(res)
                {
                    if(res.status)
                    {
                        all_cards_div = $("#allCardsDiv")

                        all_cards_div.empty()

                        let movies = res.movies


                        movies.forEach(movie => {

                            all_cards_div.append(`
                                <div class="col-3 col-sm-4 col-6 hover:bg-gray-200 transition-all duration-100 ease" id="card">
                                    <div id="card_part1">
                                        <img src="/media/${ movie.poster }" alt="err" >
                                    </div>
                                    <div id="card_part2">
                                        <div id="movie_details">
                                            <h4 class="fw-bold h1">${movie.name}</h4>
                                            <p class="py-2 pb-4">${movie.description}</p>
                                        </div>
                                        <div id="bookBtn">
                                            <button class="btn btn-primary px-5" onclick="singleMoviePage(this)" data="${movie.id}">Book</button>
                                        </div>
                                    </div>
                                </div>
                            `)

                        });
                    }
                    else
                    {
                        alert(res.message)
                    }
                }
            })

        })

    })

</script>


{% endblock %}